<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">


    <title>{% block title%}Tweetme.co{% endblock title %}</title>
  </head>
  <body>
      {% include 'navbar.html' %}
    <div class="container">
       
        {% block content %}
        {% endblock content%}
    </div>


      <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 500 //in ms
        var searchInput = $("#navbar-search-form input[type=text]");
        var searchQuery;

        searchInput.keyup(function(event){
          searchQuery = $(this).val()

          clearTimeout(typingTimer)
          typingTimer = setTimeout(doneSearchTyping, doneInterval)
          
        })

        searchInput.keydown(function(event){
        clearTimeout(typingTimer)
          
      })

      function doneSearchTyping(){
        if (searchQuery){
          //do the search
          var url = '/tweet/search/?q=' + searchQuery
          document.location.href = url;
        }
      }
      
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" ></script>
  </body>
</html>